---
- name: Install ungoogled chromium
  ansible.builtin.package:
    state: present
    name: ungoogled-chromium
  become: true
  tags:
    - browser
    - chromium

- name: Copy bubblewrap chromium script
  ansible.builtin.copy:
    src: chromium-bubblewrap
    dest: '/usr/bin/chromium-bubblewrap'
    owner: 'root'
    group: 'root'
    mode: '0755'
  become: true
  tags:
    - browser
    - chromium

- name: Create config directory
  ansible.builtin.file:
    state: directory
    path: '{{ ansible_user_dir }}/.config/chromium'
    mode: '0755'
  tags:
    - browser
    - chromium

- name: Add chromium desktop files
  ansible.builtin.copy:
    src: '{{ item.src }}'
    dest: '{{ ansible_user_dir }}/.local/share/applications/{{ item.path }}'
    mode: '0644'
  with_community.general.filetree: "files/desktop_files/"
  tags:
    - browser
    - chromium

- name: Add icons for desktopfiles
  ansible.builtin.copy:
    src: '{{ item.src }}'
    dest: "{{ ansible_user_dir +
      '/.local/share/icons/hicolor/scalable/apps/' + item.path }}"
    mode: '0644'
  with_community.general.filetree: "files/icons/"
  tags:
    - browser
    - chromium
