---
- name: Install fwknop client
  ansible.builtin.package:
    state: present
    name: fwknop-client
  tags:
    - fwknop
    - fwknop-client
  become: true

- name: Copy fwknop client config
  ansible.builtin.template:
    src: fwknoprc.j2
    dest: "{{ ansible_user_dir + '/.fwknoprc' }}"
    mode: "0600"
  no_log: "{{ nolog | default('true') | bool }}"
  tags:
    - fwknop
    - fwknop-client
