---
- name: Install mpv and mplayer
  ansible.builtin.package:
    state: present
    name:
      - mplayer
      - mpv
      - mpv-mpris
  tags: mpv
  become: true

- name: Create mpv config dir
  ansible.builtin.file:
    state: directory
    path: '{{ item }}'
    mode: "0755"
  loop:
    - '{{ ansible_user_dir }}/.config/mpv'
  tags: mpv

- name: Copy mpv configs
  ansible.builtin.copy:
    src: '{{ item }}'
    dest: '{{ ansible_user_dir }}/.config/mpv/{{ item }}'
    mode: '0644'
  loop:
    - mpv.conf
    - input.conf
  tags: mpv

- name: Copy fonts
  ansible.builtin.copy:
    src: '{{ item }}'
    dest: '{{ ansible_user_dir }}/.config/mpv'
    mode: '0644'
    directory_mode: '0755'
  loop:
    - scripts
    - fonts
  tags: mpv

- name: Copy mpv action for dwm
  ansible.builtin.import_role:
    name: dwm
    tasks_from: copy_action
  vars:
    dwm_actions:
      - mpv
  tags: mpv

- name: Link yt-dlp
  ansible.builtin.file:
    state: link
    src: '{{ ansible_user_dir }}/Projects/yt-dlp/.venv/bin/yt-dlp'
    dest: '{{ ansible_user_dir }}/.local/bin/yt-dlp'
  tags: mpv
