#!/usr/sbin/nft -f

table inet filter
delete table inet filter

table inet filter {
  chain input {
    type filter hook input priority filter; policy drop;
    ct state established,related accept;
    iifname "lo" accept;
    tcp dport 22 ct state new counter accept;
    tcp dport 22000 ct state new counter accept;
    icmp type {echo-reply, echo-request} accept;
  }

  chain forward {
    type filter hook forward priority filter; policy accept;
  }

  chain output {
    type filter hook output priority filter; policy accept;
  }
}
