#!/bin/sh

# TODO: fill ALL_SUBS variable
ALL_SUBS="
{% for sub in reddit_subs %}
{{ sub }}
{% endfor %}
"
BASE_URL='https://www.reddit.com/r'
OUT_DIR="${HOME}/Pictures/Boost"

run() {
  sub="$1"
  echo "Fetch images from $sub"
  curl -H "Accept: application/json" -s \
    --retry 2 --retry-delay 4 \
    "${BASE_URL}/${sub}.json" \
    | jq -r '.data.children[].data.url
      | select(.|test(".(gif|gifv|jpg|jpeg|png|mp4|webm)$"))' \
    | xargs -n 1 curl -sS --retry 2 -C - --output-dir "$OUT_DIR" -O
}

multi_run() {
  until run "$1"; do
    echo "retry get $1"
    sleep 1
  done
}

for s in $ALL_SUBS; do
  multi_run "$s"
done
