[Desktop Entry]
Type=Application
Name=Alsamixer
GenericName=Alsa control
Comment=soundcard mixer for ALSA soundcard driver, with ncurses interface
Icon=xfce4-mixer
Exec=alsamixer
Terminal=true
Categories=System;Audio;ConsoleOnly;
Keywords=system;process;task
