[Desktop Entry]
Type=Application
Name=Pulsemixer
GenericName=Pulseaudio control
Comment=Show System Processes
Icon=xfce4-mixer
Exec=pulsemixer
Terminal=true
Categories=System;Audio;ConsoleOnly;
Keywords=system;process;task
