ansible==9.2.0
ansible-lint
ara==1.7.2
mitogen==0.3.29
ansible-merge-vars==5.0.0

# molecule
molecule==24.2.0

# for manage docker
docker
# for net filters
ipaddr
ipaddress
netaddr
bcrypt
# for PostgreSQl
psycopg2-binary
# for selinux manage
selinux
# for json_query filter
jmespath
# for openssl x509
cryptography
# for kubernetes
kubernetes
jsonpatch
# for mikrotik
paramiko
