---
- name: Install desktop packages
  ansible.builtin.package:
    state: present
    name:
      - alsa-utils
      - bubblewrap
      - desktop-file-utils
      - dex
      - firmware-iwlwifi
      - libnotify-bin
      - ntfs-3g
      - oathtool
      - pass
      - pass-extension-otp
      - pavucontrol
      - pinentry-curses
      - pulsemixer
  become: true
  tags: desktop

- name: Copy desktopfiles
  ansible.builtin.copy:
    src: '{{ item }}'
    dest: "{{ ansible_user_dir + '/.local/share/applications/' + item }}"
    mode: '0644'
  with_items:
    - 'alsamixer.desktop'
    - 'pulsemixer.desktop'
    - 'wireshark.desktop'
  tags: desktop
