#!/bin/sh

{% for backup in duplicity_targets %}
duplicity backup \
    --use-agent \
    --encrypt-key {{ duplicity_gpg_key }} \
{% if backup.full_if_older_than is defined %}
    --full-if-older-than {{ backup.full_if_older_than }} \
{% endif %}
    {{ backup.src }} {{ backup.dest }}
{% endfor %}
