---
- name: Install sugessted packages
  ansible.builtin.apt:
    state: present
    name:
      - lsb-release
      - needrestart
  become: true
  tags: apt

- name: Create sources.d directory
  ansible.builtin.file:
    state: directory
    path: /etc/apt/sources.list.d
    mode: '0755'
  become: true
  tags: apt

- name: Set arch for apt
  ansible.builtin.copy:
    content: |
      amd64
      i386
    dest: /var/lib/dpkg/arch
    mode: '0644'
  become: true
  tags: apt
  register: _apt_arch

- name: Configure apt
  ansible.builtin.template:
    src: '{{ item.name }}'
    dest: '{{ item.dest }}'
    mode: '0644'
    owner: root
  loop:
    - name: stable.pref.j2
      dest: /etc/apt/preferences.d/stable.pref
    - name: sources.list.j2
      dest: /etc/apt/sources.list
    - name: apt_conf_norecommends.j2
      dest: /etc/apt/apt.conf.d/90aptnorecommends
    - name: apt_conf_default_release.j2
      dest: /etc/apt/apt.conf.d/10apt_conf_default_release
  become: true
  tags: apt
  register: _apt_conf

- name: Apt ppa support
  ansible.builtin.apt:
    state: present
    name:
      - apt-file
      - python3-launchpadlib
    update_cache: true
  become: true

- name: Import tasks from the unattended-upgrades
  ansible.builtin.import_tasks: unattended-upgrades.yml
  tags: unattended
