{# Ansible managed: {{ ansible_managed }} #}
# BEGIN_KITTY_FONTS
font_family      family="Terminess Nerd Font Mono"
bold_font        TerminessNF-Bold
italic_font      TerminessNF
bold_italic_font auto
# END_KITTY_FONTS

disable_ligatures always
font_size 15.0

# BEGIN_KITTY_THEME
# Dimmed Monokai
include current-theme.conf
# END_KITTY_THEME

term xterm-256color
modify_font cell_height -2px
modify_font baseline 2
