{
  "log": {
    "loglevel": "{{ v2ray_loglevel | default('none') }}"
  },
    "inbounds": [
    {
      "listen": "127.0.0.1",
      "port": 1234 ,
      "protocol": "vless",
      "settings": {
        "clients": [
          {
            "id": "{{ v2ray_id }}"
          }
        ],
        "decryption": "none"
      },
      "streamSettings": {
        "network": "ws",
        "wsSettings": {
          "path": "/{{ v2ray_ws_path }}"
        }
      },
      "sniffing": {
        "enabled": true,
        "destOverride": [
          "http",
        "tls"
        ]
      }
    }
  ],
  "outbounds": [
  {
    "tag": "direct",
    "protocol": "freedom",
    "settings": {}
  },
  {
    "tag": "blocked",
    "protocol": "blackhole",
    "settings": {}
  }
  ]
}
