{
  "log": {
    "loglevel": "{{ v2ray_loglevel | default('none') }}"
  },
  "inbounds": [
    {
      "listen": "{{ v2ray_server_socket }}",
      "protocol": "vless",
      "settings": {
        "clients": [
          {% for user in v2ray_users -%}
          {
            "id": "{{ user.id }}"
          }{%- if not loop.last -%},{%- endif -%}
          {% endfor -%}
        ],
        "decryption": "none"
      },
      "streamSettings": {
        "network": "ws",
        "wsSettings": {
          "path": "/{{ v2ray_ws_path }}"
        }
      },
      "sniffing": {
        "enabled": false,
        "destOverride": [
          "http",
          "tls"
        ]
      }
    }
  ],
  "outbounds": [
    {
      "tag": "direct",
      "protocol": "freedom",
      "settings": {}
    },
    {
      "tag": "tor",
      "protocol": "socks",
      "settings": {
        "servers": [
          {
            "address": "127.0.0.1",
            "port": 9050
          }
        ]
      }
    }
  ],
  "routing": {
    "domainStrategy": "IPIfNonMatch",
    "rules": [
      {
        "type": "field",
        "outboundTag": "tor",
        "domain": [
          "domain:onion"
        ]
      }
    ]
  }
}
