[Unit]
Description=Lock the screen with slock
Before=sleep.target

[Service]
User={{ ansible_user_id }}
Type=simple
Environment=DISPLAY=:0
ExecStart=/usr/local/bin/slock

[Install]
WantedBy=suspend.target
