---
- name: Commit pending changes
  uci:
    command: commit

- name: Restart network
  service:
    name: network
    state: restarted

- name: Restart uhttpd
  service:
    name: uhttpd
    state: restarted

- name: Restart firewall
  service:
    name: firewall
    state: restarted

- name: Restart fwknopd
  service:
    name: fwknopd
    state: restarted

- name: Restart ddns
  service:
    name: ddns
    state: restarted
