#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Vkontakte
Exec=chromium --force-dark-mode --profile-directory=Vkontakte --app=https://vk.com
#Exec=/usr/bin/chromium --profile-directory=Vkontakte --app=https://vk.com
Icon=chrome-majiogicmcnmdhhlgmkahaleckhjbmlk-Default
Actions=Explore;Subscriptions
