{% for device in usb_devices %}
SUBSYSTEM=="block", ACTION=="add", ATTRS{idVendor}=="{{ device.vendor }}", ATTRS{idProduct}=="{{ device.product }}", SYMLINK+="external%n", RUN+="/usr/local/bin/autobackup.sh"
{% endfor %}
