[Desktop Entry]
Type=Application
Name=Podboat
GenericName=RSS feed reader
Comment=RSS/Atom feed reader for text terminals
Icon=newsboat
Exec=podboat
Terminal=true
Categories=Utility;Network;ConsoleOnly;
Keywords=task
