remotename {{ sstp_provider }}
linkname {{ sstp_provider }}
ipparam {{ sstp_provider }}
pty "/sbin/sstpc {{ sstp_server }} \
  --cert-warn \
  --tls-ext \
  --nolaunchpppd \
  --ipparam {{ sstp_provider }}"
lcp-echo-failure 0
lcp-echo-interval 0
lock
noauth
nodefaultroute
nodefaultroute6
noipdefault
plugin sstp-pppd-plugin.so
sstp-sock /var/run/sstpc/sstpc-{{ sstp_provider }}
refuse-chap
refuse-mschap
refuse-pap
persist
holdoff 30
maxfail 600
{% if sstp_userpeerdns is defined %}usepeerdns{% endif %}
user '{{ sstp_user }}'
password '{{ sstp_password }}'
