pty "/sbin/sstpc {{ sstp_server }} \
  --cert-warn --tls-ext \
  --nolaunchpppd --ipparam {{ sstp_provider }} \
  --uuid 98f8c7d2-2f6f-4fb5-9fab-d141cb19634d"
ipparam {{ sstp_provider }}
lcp-echo-failure 0
lcp-echo-interval 0
lock
noauth
nodefaultroute
nodefaultroute6
noipdefault
plugin /usr/lib/pppd/2.4.9/nm-sstp-pppd-plugin.so
refuse-chap
refuse-mschap
refuse-pap
{% if sstp_userpeerdns is defined %}usepeerdns{% endif %}
user '{{ sstp_user }}'
password '{{ sstp_password }}'
