{
    "server":"{{ shadowsocks_server }}",
    "server_port":"{{ shadowsocks_server_port }}",
    "local_address":"127.0.0.1",
    "local_port":{{ shadowsocks_local_port }},
    "mode":"tcp_only",
    "password":"{{ shadowsocks_password }}",
    "timeout":86400,
    "fast_open": true,
    "reuse_port": true,
    "method":"aes-256-gcm"
}
