{
    "server":["0.0.0.0"],
    "server_port":{{ shadowsocks_server_port }},
    "mode":"tcp_only",
    "password":"{{ shadowsocks_password }}",
    "timeout":86400,
    "fast_open": true,
    "reuse_port": true,
    "method":"aes-256-gcm"
}
