---
- name: Install strongswan
  ansible.builtin.package:
    name:
      - libcharon-extauth-plugins
      - libcharon-extra-plugins
      - libstrongswan-extra-plugins
      - libstrongswan-standard-plugins
      - strongswan
      - strongswan-charon
      - strongswan-swanctl
    state: present
  become: true
  tags: strongswan

- name: Create ipsec certificates directory
  ansible.builtin.file:
    state: directory
    path: /etc/ipsec.d/cacerts
    mode: "0755"
    owner: root
    group: root
  become: true
  tags: strongswan

- name: Download Let's Encrypt ISRG Root X1 CA certificate for ipsec
  ansible.builtin.get_url:
    url: https://letsencrypt.org/certs/isrgrootx1.pem
    dest: /etc/ipsec.d/cacerts/isrgrootx1.pem
    mode: "0644"
    owner: root
    group: root
  become: true
  tags: strongswan

- name: Copy strongswan config
  ansible.builtin.template:
    src: strongswan.conf.j2
    dest: /etc/strongswan.conf
    mode: "0644"
    owner: root
    group: root
  become: true
  tags: strongswan
  notify: reload strongswan

- name: Copy ipsec config
  ansible.builtin.template:
    src: ipsec.conf.j2
    dest: /etc/ipsec.conf
    mode: "0644"
    owner: root
    group: root
  become: true
  tags: strongswan
  notify: reload strongswan

- name: Copy ipsec secrets
  ansible.builtin.template:
    src: ipsec.secrets.j2
    dest: /etc/ipsec.secrets
    mode: "0600"
    owner: root
    group: root
  become: true
  tags: strongswan
  no_log: "{{ nolog | default('true') | bool }}"
  notify: reload strongswan
...
