{% if ipset_tables is defined %}
{%   for rule in ipset_tables %}
create {{ rule.name }}_tmp {{ rule.set_option }}
{%     if 'items' in rule %}
{%       for element in rule['items'] %}
add {{ rule.name }}_tmp {{ element }}
{%       endfor %}
{%     endif %}
swap {{ rule.name }}_tmp {{ rule.name }}
destroy {{ rule.name }}_tmp

{%   endfor %}
{% endif %}
