---
- name: Add the user
  ansible.builtin.user:
    name: "{{ byedpi_user }}"
    group: "{{ byedpi_group }}"
    shell: /usr/sbin/nologin
    create_home: false
    system: true
  become: true
  tags: byedpi

- name: Copy byedpi bin
  ansible.builtin.copy:
    src: 'byedpi'
    dest: "{{ byedpi_bin_path }}"
    mode: '0755'
  become: true
  notify: Restart byedpi
  tags: byedpi

- name: Remove legacy init.d script
  ansible.builtin.file:
    path: /etc/init.d/byedpi
    state: absent
  become: true
  notify: Run systemctl daemon-reload
  tags: byedpi

- name: Remove legacy defaults file
  ansible.builtin.file:
    path: /etc/default/byedpi
    state: absent
  become: true
  tags: byedpi

- name: Create byedpi systemd service
  ansible.builtin.template:
    src: byedpi.service.j2
    dest: /etc/systemd/system/byedpi.service
    mode: '0644'
    owner: root
    group: root
  become: true
  notify:
    - Run systemctl daemon-reload
    - Restart byedpi
  tags: byedpi

- name: Enable and start service byedpi
  ansible.builtin.systemd_service:
    name: byedpi
    enabled: true
    state: started
  become: true
  tags: byedpi
