# {{ ansible_managed}}
{% if ssh_hosts is defined -%}
{%   for host in ssh_hosts -%}
Host {{ host.host }}
{%     if host.hostname is defined %}
  Hostname {{ host.hostname }}
{%     endif %}
{%     if host.user is defined -%}
  User {{ host.user }}
{%     endif -%}
{%   endfor -%}
{% endif -%}

Host *
  User {{ lookup('env', 'USER') }}
  ControlMaster auto
  ControlPersist 10m
  Compression yes
  LogLevel quiet
  SendEnv TMUX
  ServerAliveInterval 10
  GSSAPIAuthentication no
  AddKeysToAgent yes
  ForwardAgent no
  ControlPath ~/.ssh/control-%h-%r-%p
