# {{ ansible_managed}}
{% if ssh_hosts is defined -%}
{%   for host in ssh_hosts | unique -%}
Host {{ host.host }}
{%     if host.hostname is defined %}
  Hostname {{ host.hostname }}
{%     endif %}
{%     if host.user is defined %}
  User {{ host.user }}
{%     endif -%}
{%     if host.dynamic_forward is defined %}
  DynamicForward {{ host.dynamic_forward }}
{%     endif -%}
{%     if host.match_rule is defined %}
  {{ host.match_rule }}
{%     endif -%}
{%   endfor -%}
{% endif %}

Host *
  AddKeysToAgent 12h
  Compression yes
  ControlMaster auto
  ControlPath ~/.ssh/control-%h-%r-%p
  ControlPersist 10m
  ForwardAgent no
  GSSAPIAuthentication no
  LogLevel quiet
  PreferredAuthentications publickey,password
  ServerAliveInterval 10
  User {{ lookup('env', 'USER') }}
