# {{ ansible_managed}}
Host rootit
  Hostname ssh.rootit.online
  LocalForward 8081 localhost:8384
  ControlMaster no
  ProxyJump none
Host station-treenet
  Hostname 192.168.88.253
  DynamicForward 7887
  ProxyJump none
{% for host in ssh_hosts %}
Host {{ host.host }}
{% if host.hostname is defined %}
  Hostname {{ host.hostname }}
{% endif %}
{% if host.user is defined %}
  User {{ host.user }}
{% endif %}
{% endfor %}

Host *
  User {{ lookup('env', 'USER') }}
  ControlMaster auto
  ControlPersist 240m
  Compression yes
  LogLevel quiet
  SendEnv TMUX
  StrictHostKeyChecking no
  ServerAliveInterval 10
  UserKnownHostsFile /dev/null
  GSSAPIAuthentication no
  AddKeysToAgent yes
  ForwardAgent no
  #ControlPath /run/user/1000/ssh_%h_%p_%r.socket
