---
- name: Install thunderbird
  ansible.builtin.apt:
    name: thunderbird
  become: true
  tags: thunderbird

- name: Copy bubblewrap thunderbird
  ansible.builtin.copy:
    src: thunderbird-bubblewrap
    dest: '{{ thunderbird_bwrap_path }}'
    owner: 'root'
    group: 'root'
    mode: '0755'
  become: true
  tags: thunderbird

- name: Copy desktopfile
  ansible.builtin.copy:
    src: 'thunderbird.desktop'
    dest: "{{ ansible_user_dir +
      '/.local/share/applications/thunderbird.desktop' }}"
    mode: '0644'
  tags: thunderbird
