XF86Audio{Lower,Raise}Volume
  vol_dunst.sh {down,up}

XF86AudioMute
  wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle

XF86Audio{Prev,Next,Play}
  playerctl {previous,next,play-pause}

XF86Launch1
  /usr/local/bin/firefox

XF86ScreenSaver
  slock

XF86Display
  xset dpms force off

Print
  flameshot gui --path {{ flameshot_dir }}

super + a
  ~/.dwm/actions/action_menu_run

super + s
  ~/.dwm/actions/ssh

alt + Tab
  rofi -show window \
    -kb-cancel "Alt+Escape,Escape" \
    -kb-accept-entry "!Alt-Tab,Return" \
    -kb-row-down "Alt+Tab,Alt+Down" \
    -kb-row-up "Alt+Shift+Tab,Alt+Up"

super + Down
  playerctl play-pause

super + {Right,Left}
  playerctl position 30{+,-}
