XF86Audio{Lower,Raise}Volume
  wpctl set-volume @DEFAULT_AUDIO_SINK@ 2%{-,+} --limit 1

XF86AudioMute
  wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle

XF86Audio{Prev,Next,Play}
  mpc -q {prev,next,toggle} > /dev/null

XF86Launch1
  /usr/local/bin/firefox

XF86ScreenSaver
  slock

XF86Display
  xset dpms force off

Print
  flameshot gui

super + a
  action_menu_run

super + s
  ~/.dwm/actions/ssh
