[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Telemost
Exec=/home/daysun/.local/bin/chrome --force-dark-mode --profile-directory=Telemost --app=https://telemost.yandex.ru/
Icon=telemost
Actions=Explore;Subscriptions
