[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Telemost
Exec=/usr/bin/chromium-bubblewrap --force-dark-mode --profile-directory=Telemost --app=https://telemost.yandex.ru/
Icon=telemost
Actions=Explore;Subscriptions
