#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Telegram Web
Exec=/home/daysun/.local/bin/chrome --profile-directory=TelegramWeb --app=https://web.telegram.org/
Icon=chrome-majiogicmcnmdhhlgmkahaleckhjbmlk-Default
Actions=Explore;Subscriptions
