#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Vkontakte
Exec=/home/daysun/.local/bin/chrome --force-dark-mode --profile-directory=Vkontakte --app=https://vk.com
Icon=vk
Actions=Explore;Subscriptions
