#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=VK Видео
Exec=/usr/bin/chromium-bubblewrap --profile-directory=Default --force-dark-mode --app=https://vkvideo.ru
Icon=vkvideo
Actions=Explore;Subscriptions
