[Desktop Entry]
Type=Application
Version=1.0
Name=Jnettop
GenericName=Show network activity
Comment=Show System Processes
Icon=network-receive
Exec=sudo -A jnettop
Terminal=true
Categories=System;ConsoleOnly;
Keywords=system;process;task
