---
- name: Install Font Awesome font
  ansible.builtin.package:
    state: present
    name:
      - fonts-font-awesome
      - fonts-fork-awesome
      - fonts-elusive-icons
  become: true
  tags: [rofi, xorg]

- name: Install rofi
  ansible.builtin.package:
    state: present
    name: rofi
  become: true
  tags: [rofi, xorg]

- name: Create themes directory
  ansible.builtin.file:
    state: directory
    path: '{{ ansible_user_dir }}/.config/rofi/themes'
    mode: '0755'
  tags: [rofi, xorg]

- name: Copy rofi config
  ansible.builtin.template:
    src: 'config.rasi.j2'
    dest: '{{ ansible_user_dir }}/.config/rofi/config.rasi'
    mode: '0644'
  tags: [rofi, xorg]

- name: Copy rofi theme
  ansible.builtin.copy:
    src: 'dwmblush.rasi'
    dest: '{{ ansible_user_dir }}/.config/rofi/themes/dwmblush.rasi'
    mode: '0644'
  tags: [rofi, xorg]
