[Unit]
Description=Keeps track of media player activity and directs commands to the one with most recent activity

[Service]
Type=simple
ExecStart=/usr/bin/playerctld

[Install]
WantedBy=default.target
