#!/bin/sh

### BEGIN INIT INFO
# Provides:          byedpi
# Required-Start:    $local_fs $network $named $time $syslog
# Required-Stop:     $local_fs $network $named $time $syslog
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Description:       Implementation of some DPI bypass methods.
#                    The program is a local SOCKS proxy server.
### END INIT INFO

NAME=byedpi
DAEMON=/usr/local/bin/"$NAME"
DAEMON_OPTS="--tfo --split 1 --disorder 3+s --mod-http=h,d --auto none --tlsrec 1+s --ip 127.0.0.1 --port 2080"
USER=byedpi
PIDFILE=/var/run/${NAME}.pid

set -e

start() {
  if [ -f "$PIDFILE" ] && kill -0 $(cat "$PIDFILE"); then
    echo "Service $NAME already running"
    return 1
  fi
  echo 'Starting service…' >&2
  runuser --user $USER -- setsid -f $DAEMON $DAEMON_OPTS
  until pgrep -f "$DAEMON" > "$PIDFILE"; do
    sleep 0.2
  done
  echo 'Service started' >&2
}

stop() {
  if [ ! -f "$PIDFILE" ] || ! kill -0 $(cat "$PIDFILE"); then
    echo 'Service not running' >&2
    return 1
  fi
  echo 'Stopping service…' >&2
  kill -15 $(cat "$PIDFILE")
  rm -f "$PIDFILE"
  echo 'Service stopped' >&2
}

case "$1" in
  start)
    start
    ;;
  stop)
    stop
    ;;
  restart)
    stop
    start
    ;;
  status)
    kill -0 $(cat "$PIDFILE")
    echo "Service $NAME running"
    ;;
  *)
    echo "Usage: $0 (start|stop|restart|status)"
    ;;
esac
