---
- name: Install pipewire
  ansible.builtin.package:
    state: present
    name:
      - pipewire-audio
      - pipewire-pulse
  become: true
  tags: [pipewire, install]

- name: Create wireplumber config directory
  ansible.builtin.file:
    state: directory
    path: "{{ pipewire_wireplumber_config_dir }}"
    mode: "0755"
  tags: [pipewire, config]

- name: Deploy wireplumber libcamera config
  ansible.builtin.copy:
    src: 99-libcamera.conf
    dest: "{{ pipewire_wireplumber_config_dir }}/99-libcamera.conf"
    mode: "0644"
  tags: [pipewire, config]
