[Interface]
{% if wg_address is defined -%}
Address = {{ wg_address }}
{% endif -%}
PrivateKey = {{ wg_pass.strip() }}
ListenPort = {{ wg_port | default('53824') }}

{% for peer in wg_peers %}
[Peer]
PublicKey = {{ peer.pubkey }}
AllowedIPs = {{ peer.allowed_ips }}
{% if peer.endpoint is defined -%}
Endpoint = {{ peer.endpoint }}
{% endif -%}
{% if peer.persistent_keepalive is defined -%}
PersistentKeepalive = {{ peer.persistent_keepalive }}
{% endif -%}

{% endfor -%}
