music_directory        "{{ ansible_user_dir }}/Music"
playlist_directory     "{{ ansible_user_dir }}/Music/playlists"
db_file                "{{ mpd_home_dir }}/tag_cache"
log_file               "{{ mpd_home_dir }}/mpd.log"
pid_file               "/run/user/1000/mpd.pid"
state_file             "{{ mpd_home_dir }}/state"
sticker_file           "{{ mpd_home_dir }}/sticker.sql"
bind_to_address        "{{ mpd_host }}"
restore_paused         "no"
filesystem_charset     "UTF-8"
id3v1_encoding         "UTF-8"

input {
  plugin "curl"
}

audio_output {
	type		"pulse"
	name		"MPD pulse"
}
