# {{ ansible_managed }}
#
# {{ dnsmasq_path_conf }} (0644): dnsmasq configuration
#
# Based off http://oss.segetech.com/intra/srv/dnsmasq.conf

cache-size=1000
no-poll
strict-order
{% for s in dnsmasq_dns_interfaces %}
{{ s }}
{% endfor %}

#######################################################################################################################
# DNSMASQ DNS  'SERVERS'                                                                                              #
# ------------------------------------------------------------------------------------------------------------------- #
# server=/localnet/192.168.0.1                   Add other name servers here, with domain specs if they are for       #
#                                                non-public domains.                                                  #
#                                                                                                                     #
# server=/3.168.192.in-addr.arpa/10.1.2.3        Example of routing PTR queries to nameservers: this will send all    #
#                                                address->name queries for 192.168.3/24 to nameserver 10.1.2.3        #
#                                                                                                                     #
#######################################################################################################################
{% for server in dnsmasq_dns_servers %}
server={{server}}
{% endfor %}

#######################################################################################################################
# DNSMASQ DHCP  'HOST OPTS'                                                                                           #
# ------------------------------------------------------------------------------------------------------------------- #
# dhcp-ignore=#known                             Ignore any clients which are specified in dhcp-host lines            #
#                                                or /etc/ethers. Equivalent to ISC "deny unkown-clients".             #
#                                                This relies on the special "known" tag which is set when             #
#                                                a host is matched.                                                   #
#                                                                                                                     #
# dhcp-vendorclass=red,Linux                     Send extra options which are tagged as "red" to any machine whose    #
#                                                DHCP vendorclass string includes the substring "Linux"               #
#                                                                                                                     #
# dhcp-userclass=red,accounts                    Send extra options which are tagged as "red" to any machine one      #
#                                                of whose DHCP userclass strings includes the substring "accounts"    #
#                                                                                                                     #
# dhcp-mac=red,00:60:8C:*:*:*                    Send extra options which are tagged as "red" to any machine whose    #
#                                                MAC address matches the pattern.                                     #
#                                                                                                                     #
# read-ethers                                    If this line is uncommented, dnsmasq will read /etc/ethers and act   #
#                                                on the ethernet-address/IP pairs found there just as if they had     #
#                                                been given as --dhcp-host options. Useful if you keep                #
#                                                MAC-address/host mappings there for other purposes.                  #
#                                                                                                                     #
#######################################################################################################################
{% for s in dnsmasq_dhcp_hosts_opts %}
{{ s }}
{% endfor %}

#######################################################################################################################
# DNSMASQ DHCP  'LEASE'                                                                                               #
# ------------------------------------------------------------------------------------------------------------------- #
# dhcp-lease-max=150                             Set the limit on DHCP leases, the default is 150                     #
#                                                                                                                     #
# dhcp-leasefile=/var/lib/misc/dnsmasq.leases    The DHCP server needs somewhere on disk to keep its lease database.  #
#                                                This defaults to a sane location, but if you want to change it, use  #
#                                                the line below.                                                      #
#                                                                                                                     #
# dhcp-authoritative                             Set the DHCP server to authoritative mode. In this mode it will barge#
#                                                in and take over the lease for any client which broadcasts on the    #
#                                                network, whether it has a record of the lease or not. This avoids    #
#                                                long timeouts when a machine wakes up on a new network. DO NOT enable# 
#                                                this if there's the slighest chance that you might end up            #
#                                                accidentally configuring a DHCP server for your campus/company       #
#                                                accidentally. The ISC server uses the same option, see               #
#                                                http://www.isc.org/index.pl?/sw/dhcp/authoritative.php               #
#                                                                                                                     #
# dhcp-script=/bin/echo                          Run an executable when a DHCP lease is created or destroyed.         #
#                                                The arguments sent to the script are "add" or "del",                 #
#                                                then the MAC address, the IP address and finally the hostname        #
#                                                if there is one.                                                     #
#                                                                                                                     #
#######################################################################################################################
{% for s in dnsmasq_dhcp_lease %}
{{ s }}
{% endfor %}

#######################################################################################################################
# DNSMASQ DHCP  'RANGES'                                                                                              #
# ------------------------------------------------------------------------------------------------------------------- #
# dhcp-range=192.168.0.50,192.168.0.150,12h      Enable the integrated DHCP server.                                   #
#                                                Supply the range of addresses available for lease and optionally     #
#                                                a lease time. If you have more than one network, you will need to    #
#                                                repeat this for each network on which you want to supply DHCP        #
#                                                service.                                                             #
#                                                                                                                     #
# dhcp-range=192.168.0.50,192.168.0.150,255.255.255.0,12h                                                             #
#                                                This is an example of a DHCP range where the netmask is given. This  #
#                                                is needed for networks we reach the dnsmasq DHCP server via a relay  #
#                                                agent. If you don't know what a DHCP relay agent is, you probably    #
#                                                don't need to worry about this.                                      #
#                                                                                                                     #
# dhcp-range=red,192.168.0.50,192.168.0.150      This is an example of a DHCP range with a network-id, so that        #
#                                                some DHCP options may be set only for this network.                  #
#                                                                                                                     #
#######################################################################################################################
{% for s in dnsmasq_dhcp_ranges %}
{{ s }}
{% endfor %}

#######################################################################################################################
# DNSMASQ   'CONF FILES'                                                                                              #
# ------------------------------------------------------------------------------------------------------------------- #
# conf-file=/etc/dnsmasq.more.conf               Include a other configuration file(s).                               #
#                                                                                                                     #
# conf-dir=/etc/dnsmasq.d                        Include a another lot of configuration options.                      #
#                                                                                                                     #
#######################################################################################################################
{% for s in dnsmasq_confs %}
{{ s }}
{% endfor %}

#######################################################################################################################
# DNSMASQ   'LOG SETTINGS'                                                                                            #
# ------------------------------------------------------------------------------------------------------------------- #
# log-queries                                    For debugging purposes, log each DNS query as it passes through      #
#                                                dnsmasq.                                                             #
#                                                                                                                     #
# log-dhcp                                       Log lots of extra information about DHCP transactions.               #
#                                                                                                                     #
####################################################################################################################### 
{% for s in dnsmasq_logs %}
{{ s }}
{% endfor %}

#######################################################################################################################
# DNSMASQ  'RUN SETTINGS                                                                                              #
# ------------------------------------------------------------------------------------------------------------------- #
# user & group                                   If you want dnsmasq to change uid and gid to something other         #
#                                                than the default, edit the following lines.                          #
#                                                                                                                     #
#######################################################################################################################
{% for s in dnsmasq_run %}
{{ s }}
{% endfor %}
