---
- name: Install newsboat
  ansible.builtin.package:
    state: present
    name: newsboat
  tags: newsboat
  become: true

- name: Create config and podcats directories
  ansible.builtin.file:
    state: directory
    path: "{{ item }}"
    mode: "0755"
  with_items:
    - "{{ ansible_user_dir }}/.config/newsboat"
  tags: newsboat

- name: Copy newsboat config
  ansible.builtin.template:
    src: "config.j2"
    dest: "{{ ansible_user_dir }}/.config/newsboat/config"
    mode: "0644"
  tags: newsboat

- name: Copy newsboat additianal scripts
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: "{{ ansible_user_dir }}/.local/bin/{{ item }}"
    mode: "0755"
  loop:
    - newsboat_browser
  tags: newsboat

- name: Copy newsboat urls
  ansible.builtin.template:
    src: "urls.j2"
    dest: "{{ ansible_user_dir }}/.config/newsboat/urls"
    mode: "0644"
  when: newsboat_urls is defined
  tags: newsboat

- name: Copy newsboat desktopfile
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: "/usr/share/applications/{{ item }}"
    mode: "0644"
  with_items:
    - newsboat.desktop
    - podboat.desktop
  become: true
  tags: newsboat
