#!/bin/sh
#
# n900 only
# Help script to esteblish internet connection
# when pc suite mode starts
# invoked from /usr/sbin/pcsuite-enable.sh
# Usage:
# if [ -f /home/user/usb_router.sh ]; then
#    /home/user/usb_router.sh connect
# fi

CONNECT='Megafon Internet'
SLEEP_TIMEOUT=5

wait_gsm_connection () {
    # status: 4 - 3g, 0 - 2g
    status="$1"
    while true; do
        state=$(dbus-send \
            --print-reply=literal \
            --system \
            --type=method_call \
            --dest=com.nokia.phone.net \
            /com/nokia/phone/net Phone.Net.get_registration_status \
            | awk 'NR==1 {print $2}')
        [ "$state" -eq "$status" ] && break
        sleep $SLEEP_TIMEOUT
    done
}

switch_network () {
    dest=$1
    dbus-send \
        --system \
        --type=method_call \
        --dest=com.nokia.phone.net /com/nokia/phone/net \
        Phone.Net.set_selected_radio_access_technology byte:$dest
}

enable_3g () {
    switch_network 2
    wait_gsm_connection 0
}

enable_2g () {
    switch_network 1
    wait_gsm_connection 4
}

wait_gprs_state () {
    status="$1"
    while true; do
        dbus-send \
            --print-reply \
            --system \
            --type=method_call \
            --dest=com.nokia.icd \
            /com/nokia/icd com.nokia.icd.get_ipinfo \
            2> /dev/null
        if [ $? -eq 0 ] && [ "$status" = "on" ]; then
            return
        elif [ $? -eq 1 ] && [ "$status" = "off" ]; then
            return
        fi

        sleep $SLEEP_TIMEOUT
    done
}

connect () {
    dbus-send \
        --system \
        --type=method_call \
        --dest=com.nokia.icd /com/nokia/icd \
        com.nokia.icd.connect string:"$CONNECT" uint32:0
    wait_gprs_state on
}

disconnect () {
    dbus-send \
        --system \
        --dest=com.nokia.icd /com/nokia/icd_ui \
        com.nokia.icd_ui.disconnect boolean:true
    wait_gprs_state off
}

case $1 in
    connect)
        enable_3g
        connect
        ;;
    disconnect)
        disconnect
        enable_2g
        ;;
    reconnect)
        disconnect
        connect
        ;;
    *)
        echo "Usage $0 (connect|disconnect|reconnect)"
        exit 1
        ;;
esac
